services:
    frontend:
        image: ${REGISTRY:-ghcr.io}/${IMAGE_OWNER:-your-github-username}/colocaton-frontend:${TAG:-latest}
        container_name: colocaton-frontend
        build:
            context: ./front
            dockerfile: Dockerfile
        environment:
        - NODE_ENV=${NODE_ENV:-development}
        - API_BACKEND_URL=${API_BACKEND_URL:-http://localhost:5000}
        restart: unless-stopped
        networks:
        - colocaton-network
        depends_on:
        - backend

    backend:
        image: ${REGISTRY:-ghcr.io}/${IMAGE_OWNER:-your-github-username}/colocaton-backend:${TAG:-latest}
        container_name: colocaton-backend
        build:
            context: ./back
            dockerfile: Dockerfile
        environment:
        - NODE_ENV=${NODE_ENV:-development}
        - PORT=${BACK_PORT:-5000}
        - FRONTEND_URL=${FRONTEND_URL:-http://localhost:3000}
        - DB_USER=${DB_USER}
        - DB_PASSWORD=${DB_PASSWORD}
        - DB_HOST=${DB_HOST}
        - DB_PORT=${DB_PORT}
        - DB_NAME=${DB_NAME}
        ports:
        - "${BACK_PORT:-5000}:${BACK_PORT:-5000}"
        restart: unless-stopped
        networks:
        - colocaton-network
        volumes:
        - ./back/uploads:/usr/app/uploads
        depends_on:
            - db

    db:
        image: postgres:latest
        container_name: colocaton-postgres
        restart: unless-stopped
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        ports:
        - "${DB_PORT}:5432"
        volumes:
        - colocaton-pgdata:/var/lib/postgresql/18/main
        networks:
        - colocaton-network

networks:
    colocaton-network:
        driver: bridge
volumes:
    colocaton-pgdata:
        driver: local
